body {
  background-image: url(raft.png);
  background-size: cover;
}

h1 {
  color: #ffffff;
  text-align: center;
}
p{
  font-weight: bold;
  padding: 10px;
  color: #00235b;
  font-size: 18px;
}

#game {
  background-color: #799dd0;
  max-width: 700px;
  max-height: 1000px;
  margin: 100px auto 0px;
  padding: 10px;
  border: 1px solid #f4f4f5;
}


.controls {
  padding: 5px;
  color: #0a0a23;
}

.controls button {
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #0a0a23;
  font-size: 20px;
  background-image: linear-gradient(#82a6df, #1f50a0);
  border: 1px solid #00235b;
  border-radius: 8px;
}


#result1, #result2, #result3, #result4 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 26px;
}

.result {
  display: none;
  font-size: 18px;
  font-weight: bold;
}

.result button {
  padding: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #0a0a23;
  font-size: 18px;
  border: 1px solid #00235b;
  border-radius: 8px;
}